In [2]:
import pandas as pd

# First...
Lets start by cleaning up the memory

In [1]:
reset -fs

### What version of Pandas are we using?

In [3]:
pd.__version__

'0.19.0'

### Let's load some data
Side note: We could easily load any .CSV file but let's use some of the built-in datasets.      
+ üòë pandas does not have built-in datasets. Let's grab it from **seaborn** instead. 
    + Seaborn is a graphing library we will use it later.

In [6]:
import seaborn.apionly as sns
iris = sns.load_dataset('iris')

# Let's grab that data by....

### ... the head

In [9]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### ... the tails

In [11]:
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

**describe()**: Summarize data for each column.

In [12]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

**.shape** - returns (rows, cols) tuple
+ notice no () because this is a property not a method

In [13]:
iris.shape

(150, 5)

In [16]:
iris.T

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
sepal_length,5.1,4.9,4.7,4.6,5,5.4,4.6,5,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
sepal_width,3.5,3,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3,2.5,3,3.4,3
petal_length,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5,5.2,5.4,5.1
petal_width,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2,2.3,1.8
species,setosa,setosa,setosa,setosa,setosa,setosa,setosa,setosa,setosa,setosa,...,virginica,virginica,virginica,virginica,virginica,virginica,virginica,virginica,virginica,virginica

In [ ]:
df_abalone.sort_values(by=['rings', 'whole'])

In [ ]:
df_abalone.sort_values(by=['rings', 'whole'], 
                      reverse=True)

In [ ]:
df_abalone.sort_values(by=['rings', 'whole'], 
                      ascending=False).head()

In [ ]:
df.columns

In [ ]:
df[‚Äòcol1‚Äô].head()

In [ ]:
df_abalone['length'].head().apply(lambda x: x + 1)

## Selecting Rows

In [ ]:
df_abalone[:3]

In [ ]:
df_abalone[100:104]

In [ ]:
df_abalone[100:104].shell.values

## Create a new column with the addition of two other columns

In [ ]:
iris['width_and_length'] = iris['sepal_length'] + iris['sepal_width']

## Create a new dataframe, of only the observations with petals longer than 6cm.

In [ ]:
long_petals = pd.DataFrame()
long_petals = iris.loc[iris['petal_length'] > 6]
[ ] there must be a better way without using .loc

# Create 3 new dataframes, one for each species.

In [ ]:
Iris_setosa_df  = iris.loc[iris['species'] == 'Iris-setosa']
Iris_setosa_df  = iris.loc[iris['species'] == 'Iris-versicolor']
Iris_setosa_df  = iris.loc[iris['species'] == 'Iris-virginica']

[ ]  when should .loc be used. what other options are there?

# Change "Iris-virginica" becomes "iris_virginica"
* chained operators

In [ ]:
iris.species = iris.species.apply(lambda row: row.
replace("Iris-setosa", "iris_setosa").
replace("Iris-versicolor", "iris_versicolor").
replace("Iris-virginica", "iris_virginica"))

# Handling Nulls

## drop any records that have any missing fields, using dropna

In [ ]:
df_with_nulls.dropna(inplace=True)

## to replace values

In [ ]:
df_with_nulls.fillna(-1)

# Group-by
(http://pandas.pydata.org/pandas-docs/stable/groupby.html)
* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

## Makes column rows and does aggregate function

In [ ]:
df_abalone.groupby('sex').mean()

In [ ]:
iris.groupby(by='species').count()

to make changes to a whole column

In [ ]:
df_abalone.sex = df_abalone.sex.apply(lambda row: row.replace("M", "male"))

In [ ]:
can be chained

In [ ]:
df_abalone.sex = df_abalone.sex.apply(lambda row: row.replace("M", "male")
.replace("F", "female")
.replace("I", "indeterminate"))

* created two lists
* zip them
    * list(zip)
* create dataframe
    * parameters:
        * data and
        * columns

zip can have multiple lists (not only 2

* create list with col names
* read from csv
    * parameters:
        * filename: 
        * names: col names

# Plotting

## PLT

In [17]:
#importing the libraries
from pandas.tools.plotting import scatter_matrix
import matplotlib.pyplot as plt
%matplotlib inline

scatter_matrix:
* parameters:
    * columns: df[[‚Äúcol1, ‚Äúcol2‚Äù]]
    * diagonal: = ‚Äúhist'
        * kde might be another option